Physicist/Physicist/XML/Schemas/Nodes/PhysicistFields.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PhysicistFields"
    targetNamespace="PhysicistFields"
    elementFormDefault="qualified"
    xmlns="PhysicistFields"
    xmlns:types="PhysicistTypes"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:import namespace="PhysicistTypes" schemaLocation="../Types/FieldTypes.xsd"/>

  <xs:element name="AccelerationField" type="types:FieldContainerType"  substitutionGroup="types:FieldContainer"/>
  <xs:element name="VelocityField" type="types:FieldContainerType" substitutionGroup="types:FieldContainer"/>
  <xs:element name="HealthField" type="types:HealthFieldType" substitutionGroup="types:FieldContainer"/>

</xs:schema>
